---
import Layout from "@/layouts/Layout.astro";
import AboutMe from "@/components/AboutMe.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Projects from "@/components/Projects.astro";
import Education from "@/components/Education.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";

const lang = "en";
---

<Layout
	title="Portfolio of Lucian Andrei Negoita - Full Stack & DevOps"
	description="Personal portfolio of Lucian Andrei Negoita, Computer Engineering student with experience in AWS, DevOps and web development."
	lang={lang}
>
	<main class="px-4">
		<SectionContainer class="py-16 md:py-36">
			<Hero lang={lang} />
		</SectionContainer>
		<div class="space-y-24">
			<SectionContainer id="projects">
				<TitleSection>
					<CodeIcon class="w-7 h-7" />
					Projects
				</TitleSection>
				<Projects lang={lang} />
			</SectionContainer>
			<SectionContainer id="education">
				<TitleSection>
					<CodeIcon class="w-7 h-7" /> Education
				</TitleSection>
				<Education lang={lang} />
			</SectionContainer>
			<SectionContainer id="about">
				<TitleSection>
					<ProfileCheck class="w-8 h-8" />
					About Me
				</TitleSection>
				<AboutMe lang={lang} />
			</SectionContainer>
		</div>
	</main>
</Layout>
